<div class="alert"></div>
<% if current_user %>

<h2>Create a New Link to Add to Your List</h2>

<form id="new-link">
  <p>
    <label>Title:
      <input id="link-title">
    </label>
  </p>
  <p>
    <label>URL:
      <input id="link-url">
    </label>
  </p>
  <input type="submit" value="Add Link">
</form>

<h2>Filter and Search by URL</h2>
<p>
<button id="show-read" type="button" name="button">Show Read Links</button>
<button id="show-unread" type="button" name="button">Show Unread Links</button>
<button id="show-all" type="button" name="button">Show All Links</button>
</p>

<p>
<input id="search-box" type="text" name="search" value="" placeholder="Search By URL">
</p>

<h2>Your Saved Links</h2>
  <div id="links-list">
  </div>

  
